*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #2A1E37;
    --font-accent: #C69CF5;
    --font-main: #fff;
    --background-pri: #ffffff1a;
    --background-sec: #ffffff0d;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #F8F2FF;
        --font-accent: #7A48B3;
        --font-main: #000;
        --background-pri: #7a48b31a;
        --background-sec: #7a48b30d;
    }
}

body {
    background-color: var(--background);
    color: var(--font-main);
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.gap {
    gap: 8px;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.padding {
    padding: 8px;
}

.square{
    background: rgb(48, 48, 48);
    height: 40px;
    width: 40px;
    color: white;
    border: 1px solid black;
    text-align: center;
    line-height: 40px;
}

.key{
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
}